@font-face {
  font-family: "heliotrope";
  src: url("/css/fonts/heliotrope_ot_4_medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "heliotrope";
  src: url("/css/fonts/heliotrope_ot_4_medium_italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "heliotrope";
  src: url("/css/fonts/heliotrope_ot_6_semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "heliotrope";
  src: url("/css/fonts/heliotrope_ot_6_semibold_italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "mono";
  src: url("/css/fonts/mono_regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "mono";
  src: url("/css/fonts/mono_italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "headline";
  src: url("/css/fonts/headline.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@mixin serif {
    text-rendering: optimizeLegibility;
    font-family: heliotrope, Georgia, serif;
    font-feature-settings: 'ss01' 1;
}

@mixin mono {
    font-family: mono, monospace;
    font-feature-settings: 'ss01' 0, 'ss02' 1;
}