@use "./fonts";
@use "./env";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: min(22px, max(16px, 2.4vw));
}

p, div.p, blockquote, li {
    margin-bottom: 1rem;
    line-height: 1.42;
}

blockquote {
  padding: 1.5em 2em 0.5em 2em;
  font-size: 85%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fafafa;
}

body {
  @include fonts.family(sans);
  font-feature-settings: 'ss01';
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width:1500px;
  -webkit-font-smoothing: subpixel-antialiased; 

  background: #fafafa;
  color: #444;
  line-height: 1.4;
}

pre, code {
    @include fonts.family(mono);
    font-feature-settings: 'ss01' off, 'ss02' on;
}

#doc {
    background: white;
    border: 0px solid #aaa;
    border-top: 0px;
    margin: 0 auto;
    padding: 2rem 3rem;
    padding-left: min(8rem);
    max-width: 900px;
}

@media (min-aspect-ratio:2/3) and (min-width:800px) {
    #doc {
        max-width: 900px;
        gap: 2rem;
    }
}

@media all and (max-width:600px) {
    #doc {
        padding: 1rem;
    }
}

#doc img {
    border: 1px solid #ccc;
    width: 90%;
    padding: 1em;
}
