@font-face {
  font-family: "1e16d93adf2708af84624a7ba651cb5ec7b6b55fc80d1f81b23fe9d889887d69";
  src: url("/assets/serif_regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "1e16d93adf2708af84624a7ba651cb5ec7b6b55fc80d1f81b23fe9d889887d69";
  src: url("/assets/serif_italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "1e16d93adf2708af84624a7ba651cb5ec7b6b55fc80d1f81b23fe9d889887d69";
  src: url("/assets/serif_bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "1e16d93adf2708af84624a7ba651cb5ec7b6b55fc80d1f81b23fe9d889887d69";
  src: url("/assets/serif_bold_italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "mono";
  src: url("/assets/mono_regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "mono";
  src: url("/assets/mono_italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "headline";
  src: url("/assets/headline.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "index";
  src: url("/assets/index.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}