ul, ol {
  padding-left: 2em;
}

ol li, ul li {
  padding-left: -2em;
  list-style: none;
}

ul li::before {
    position: absolute;
    font-size: 1;
    margin-left: -2em;
    content: "⁂";
}

ol {
  counter-reset: foobar;
}

ol li::before {
    float: left;
    position: relative;
    font-size: 1.3em;
    margin-left: -1.6em;
    top: -0.15em;
    counter-increment: foobar;
    content: counter(foobar);
    font-family: "concourse-index";
    font-feature-settings: 'ss01' 0;
}