a.pe-index {
    display: block;
    color: #444;
    line-height: 1.25;
    border-bottom: 1px solid #444;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    }

.pe-index > .title {
  margin-bottom: 0.25em;
}

.pe-index h1 {
  font-style: inherit;
  font-size: 1.2em;
  width: inherit;
  font-family: inherit;
  line-height: inherit;
}
