.post-index li > p {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.post-index a {
    color: #444;
}

.post-index .post-title {
  flex: 1;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-index .date {
  margin-left: auto;
  white-space: nowrap;
}