.post-index li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

.post-index a {
    color: #444;
}

.post-index .post-title {
  flex: 1;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-index .post-date {
  white-space: nowrap;
}