<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Will Wang</title>
    <meta name="description" content="">
    <meta name="author" content="Will Wang">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
</head>

<body>
<section class="section">
    <div class="container">
        {{ post | safe }}
    </div>
</section>
</body>

</html>