@mixin serif {
    text-rendering: optimizeLegibility;
    font-family: "1e16d93adf2708af84624a7ba651cb5ec7b6b55fc80d1f81b23fe9d889887d69", Georgia, serif;
    font-feature-settings: 'ss01' 1;
}

@mixin mono {
    font-family: mono, monospace;
    font-feature-settings: 'ss01' 0, 'ss02' 1;
}