@font-face {
font-family: equity_a;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/Equity_A_Regular.otf') format('opentype');
}

@font-face {
font-family: equity_a;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/Equity_A_Italic.otf') format('opentype');
}

@font-face {
font-family: equity_a;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/Equity_A_Bold.otf') format('opentype');
}

@font-face {
font-family: equity_a;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/Equity_A_Bold_Italic.otf') format('opentype');
}

@font-face {
font-family: equity_ot_a;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/equity_ot_a_regular.woff2') format('woff2');
}

@font-face {
font-family: equity_ot_a;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/equity_ot_a_italic.woff2') format('woff2');
}

@font-face {
font-family: equity_ot_a;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/equity_ot_a_bold.woff2') format('woff2');
}

@font-face {
font-family: equity_ot_a;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/equity_ot_a_bold_italic.woff2') format('woff2');
}

@font-face {
font-family: equity_a_caps;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/equity_a_caps_regular.woff2') format('woff2');
}

@font-face {
font-family: equity_a_caps;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/equity_a_caps_bold.woff2') format('woff2');
}

@font-face {
font-family: triplicate_a_code;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/triplicate_a_code_regular.woff2') format('woff2');
}

@font-face {
font-family: triplicate_a_code;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/triplicate_a_code_italic.woff2') format('woff2');
}

@font-face {
font-family: triplicate_a_code;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/triplicate_a_code_bold.woff2') format('woff2');
}

@font-face {
font-family: triplicate_a_code;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/triplicate_a_code_bold_italic.woff2') format('woff2');
}