@import "fonts.css";


/* body {
  font-family: equity_a;
} */

p {
  font-family: equity_a;
  text-rendering: optimizeLegibility;
}

pre, code {
  font-family: triplicate_a_code;
  white-space: pre-line;
  font-size: 90%;
  position: relative;
  /* background-color: #f4f4f4; */
}

a {
  text-decoration: none;
}