@import "fonts.css";


body {
  height: 100.01%;
}

/* p {
  font-family: equity_a;
  text-rendering: optimizeLegibility;
  ;
} */

pre, code {
  font-family: triplicate_a_code;
  white-space: pre-line;
  font-size: 90%;
  position: relative;
  /* background-color: #f4f4f4; */
}

/* unvisited link */
/* a:link {
  color: #303030;
}

a:visited {
  color: #303030;
}

a:hover {
  text-decoration: underline;
  color: #303030;
  border-radius: 5px;
}


a:active {
  color: #808080;
} */
/*  */
/* .MuiTypography-root {
  font-feature-settings: "liga" 1, "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  font-variant-numeric: oldstyle-nums;
} */

/* .MuiTypography-root {
  text-rendering: optimizeLegibility;
  font-feature-settings: "aalt";
} */